<div class="topic-content-container">
  <h1 class="topic-content-title"><%= ERB::Util.html_escape(@topic.title) %></h1>
  <div class="topic-content-body cooked">
    <%= raw @post.cooked %>
  </div>
</div>
